<!-- 
Jordyn Kuhn
CIS 218
4-7-2024
-->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Twit{% endblock title %}

{% block content %}
    <!-- Style -->
    <style>
        #div_id_body{
            display:flex;
            flex-grow:2;
            margin-bottom:0px !important;
        }
        form {
            display: flex;
            margin-top: 10px;
            margin-block-end: 10px !important; 
        }
    </style>

    <!-- Post -->
    <div class="card">
        <div class="card-header">
            <span class="text-muted">
                <div class="float-start">
                    By <a href="{% url 'account_view' twit.author.pk %}">{{ twit.author }}</a> | {{ twit.updated }} 
                </div>
                {% if twit.author == user %}
                <div class="float-end">
                    <a class="btn btn-primary" href="{% url 'twit_edit' twit.pk %}">Edit</a>
                <a class="btn btn-danger" href="{% url 'twit_delete' twit.pk %}">Delete</a>
                </div>
                {% endif %}
                
            </span>
        </div>
        <div class="card-body">
            <h6 class="mb-0">{{ twit.body }}</h6>
            <br>
            <img class="img-fluid img-thumbnail" style="height:250px;" src="{{ twit.image_url }}">            
        </div>
        <div class="card m-3">
            <div class="card-header">
                <form style='display:flex;' action="" method="POST">
                    {% csrf_token %}
                    {{ form|crispy}}
                    <button class="btn btn-success m-2" type="submit">Post Comment</button>
                </form>
            </div>
        </div>
        <!-- Comments -->
        <div class="card m-3">
            <div class="card-header">
                <h6>Comments</h6>
            </div>
            <div class="card-body">
                {% for comment in twit.comment_set.all %}
                <p>
                    <span class="font-weight-bold">
                        <a href="{% url 'account_view' comment.author.pk %}">{{ comment.author }}</a> &middot;
                    </span>
                    {{ comment }}
                </p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container" style="display:flex; justify-content: center;">
        <a class="btn btn-primary mt-3 mb-4" style="width: 20%;"href="{% url 'twit_list' %}">Return</a>
    </div>
{% endblock content %}